body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  background: #ECEEFD;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

div#app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* SIDEBAR || NAVIGATION */

section.nav {
  display: flex;
  flex-flow: column wrap;
  width: 250px;
  height: 100%;
  background: #FFFFFF;
}

section.nav header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  /* background: #F6F8FA; */
}

div.app-title {
  flex: 1;
  padding: 0 0 0 40px;
  text-align: center;
}

div.app-title h1 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

div.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

div.nav-toggle button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 99;
  font-size: 1.4em;
  border: 0;
  border-radius: 100%;
  outline: none;
  background: #E6FBFB;
}

div.nav-toggle button:hover {
  background: #90E0DE;
}

section.nav nav#views-nav {
  display: flex;
  flex-flow: column wrap;
  padding: 0 20px;
}

button.btn-custom {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 210px;
  height: 44px;
  margin: 3px 0;
  padding: 5px;
  overflow: hidden;
  font-size: 0.9em;
}

button.btn-custom:hover {
  background: #F6F8FA;
}

button.btn-custom.active {
  font-weight: 600;
  background: #ECEEFD;
}

button.btn-custom.clicked {
  font-weight: 600;
}

span.btn-icon {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

button.active span.btn-icon {
  background: #C3D4F5;
}

span.btn-dropdown > span.btn-name {
  flex: 1;
  text-align: left;
}

button.btn-custom > span.btn-name,
span.btn-dropdown {
  padding: 0 0 0 10px;
}

span.btn-dropdown {
  display: flex;
  flex: 1;
}

ul.projects-list {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0 20px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

/* hidden scrollbar for now */
ul.projects-list::-webkit-scrollbar {
  display: none;
}

ul.projects-list li {
  width: 100%;
  margin: 1px;
  border-radius: 5px;
}

button.btn-project {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  font-size: 0.9em;
}

button.btn-project:hover:not(button#add-project) {
  background: #F6F8FA;
}

span.btn-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 18px 0 2px;
  border-radius: 50%;
}

[data-color="DEF"] { background: #8A8A8A; }
[data-color="PRP"] { background: #4962E0; }
[data-color="BLU"] { background: #61ABFF; }
[data-color="TEA"] { background: #90E0DE; }
[data-color="GRN"] { background: #6AFF83; }
[data-color="YLW"] { background: #FFF459; }
[data-color="ORG"] { background: #FCC041; }
[data-color="RED"] { background: #FF577B; }
[data-color="PNK"] { background: #FF60D7; }

button#add-project {
  justify-content: center;
  color: #E6E6E6;
}

button#add-project:hover {
  color: #8A8A8A;
}

section.narrow {
  width: 88px;
}

section.narrow div.app-title {
  opacity: 0;
  flex: 0;
  width: 0;
  padding: 0;
}

section.narrow button.toggle-btn {
  background: #90E0DE;
  transform: rotate(180deg);
}

section.narrow button.btn-custom {
  width: 44px;
  overflow: hidden;
}

section.narrow span.btn-name,
section.narrow span.btn-dropdown {
  opacity: 0;
  width: 0;
  padding: 0;
}

section.narrow span.btn-dropdown {
  height: 0;
}

section.narrow nav#projects-nav {
  opacity: 0;
}

section.nav, 
section.narrow {
  transition: width 0.2s ease-in-out;
}

section.narrow button.btn-custom {
  transition: all 0.3s ease-out;
}

/* TOOLBAR || PAGE INFO */

section.main {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}

section.main header {
  display: flex;
  flex-flow: row wrap;
}

div#page-info {
  padding: 20px 40px;
}

h2#page-title {
  font-size: 0.8em;
  font-weight: 700;
}

div#todays-date {
  font-size: 0.8em;
}

span#current-day {
  color: #4962E0;
  font-size: 0.9em;
  font-weight: 700;
}

aside#project-form-popup div.modal-header {
  background: #F6F8FA;
}

div.modal-header h3 {
  margin: 0;
  padding: 0;
}

div.form-field {
  margin: 0 0 20px 0;
}

div.form-field label,
div.form-field button {
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
}

div.form-field input,
div.form-field ul {
  width: 100%;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid #A8A8A8;
}

div.form-field input {
  padding: 2px 8px;
}

div.form-field input:focus-visible {
  outline: none;
  border: 1px solid #858585;
}

ul#project-colors {
  height: 2em;
  margin: 0;
  padding: 0;
}

ul#project-colors li {
  padding: 2px 15px;
  cursor: default;
}

li#current-color {
  display: flex;
  align-items: center;
}

li#current-color span.btn-name {
  flex: 1;
}

li#current-color::after {
  justify-self: flex-end;
}