@import "~bootstrap/scss/bootstrap";
// @import "./style.css";

.dropdown {
  cursor: default;
}

form.project-form label,
form.project-form input,
button#color-select-btn {
  width: 100%;
}

input[name="project-name"]:focus {
  outline: none;
}

button#color-select-btn {
  border-radius: 3px;
  border: 1px solid #767676;
  background: #FFFFFF;
}

button.selection-display,
li.selection-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

div.selection-display {
  display: flex;
  align-items: center;
  cursor: default;
}

li.selection-item:hover {
  background: #EFEFEF;
}

span.selection-name {
  flex: 1;
  text-align: left;
  font-size: 0.9em;
}

span.selection-color {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  font-size: 0.6em;
  border-radius: 3px;
}

button.project-btn span.selection-color {
  margin-right: 20px;
}

span.selection-icon { 
  margin: 0 7px;
}

span.selection-etc {
  padding: 0 10px;
  color: #ACACAC;
  font-size: 0.6em;
}

ul#project-colors-list {
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}

[data-value="inbox"] span.selection-icon {
  color: #90E0DE;
}

[data-color="GREY"] span.selection-color {
  background: #C4C4C4;
}

[data-color="LBLUE"] span.selection-color {
  background: #96C3EB;
}

[data-color="BLUE"] span.selection-color {
  background: #4073FF;
}

[data-color="PURPLE"] span.selection-color {
  background: #884DFF;
}

[data-color="VIOLET"] span.selection-color {
  background: #AF38EB;
}

[data-color="LAVENDER"] span.selection-color {
  background: #EB96EB;
}

[data-color="PINK"] span.selection-color {
  background: #EE1689;
}

[data-color="PEACH"] span.selection-color {
  background: #FC9C96;
}

[data-color="CIDER"] span.selection-color {
  background: #D8A175;
}

[data-color="CLAY"] span.selection-color {
  background: #996633;
}

[data-color="BERRY"] span.selection-color {
  background: #B8255F;
}

[data-color="RED"] span.selection-color {
  background: #F11045;
}

[data-color="SUNSET"] span.selection-color {
  background: #FF4848;
}

[data-color="ORANGE"] span.selection-color {
  background: #EE7B16;
}

[data-color="YELLOW"] span.selection-color {
  background: #F3D71C;
}

[data-color="OLIVE"] span.selection-color {
  background: #AFB83B;
}

[data-color="LIME"] span.selection-color {
  background: #7ECC49;
}

[data-color="GREEN"] span.selection-color {
  background: #299438;
}

[data-color="MINT"] span.selection-color {
  background: #6ACCBC;
}

[data-color="TEAL"] span.selection-color {
  background: #158FAD;
}

div.task-status-display[data-value="0"] i,
[data-value="0"] span.selection-icon {
  color: #616161;
}

div.task-status-display[data-value="1"] i,
[data-value="1"] span.selection-icon {
  color: #F8E35B;
}

div.task-status-display[data-value="2"] i,
[data-value="2"] span.selection-icon {
  color: #F79C4C;
}

div.task-status-display[data-value="3"] i,
[data-value="3"] span.selection-icon {
  color: #F1416A;
}

div.task-status-display[data-value="4"] i,
[data-value="4"] span.selection-icon {
  color: #4962E0;
}
